:root {
    --boardwidth: 10;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(var(--boardwidth), 1fr);
    grid-template-rows: repeat(var(--boardwidth), 1fr);
    aspect-ratio: 1;
    gap: 1px;
    background-color: black;
    overflow: hidden;
}

.game-item {
    position: relative;
    overflow: hidden;
    background-color: aliceblue;

}

.game-item .game-content {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}